<navbar></navbar>

<div class="container">
  <div class="page-header">
    <h1 class="title">{{site.siteName}}</h1>
  </div>
  <form [hidden]="!canEditOrDelete" #f="ngForm" (ngSubmit)="f.form.valid && savePage(pageName)">
    <div class="form-group">
      <button class="btn btn-danger">Create</button>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pageName.valid }">
      <input type="text" id="pageName" class="form-control" name="pageName" [(ngModel)]="pageName" size="30" placeholder="Insert your page name here" required />
    </div>
  </form>
  <div class="pages-list" *ngFor="let page of pages">
    <a (click)="showPageContent(page.id)" [innerHTML]="page.pageName"></a>
    <div *ngIf="canEditOrDelete" class="glyphicon glyphicon-remove remove" (click)="removePage(page.id)"></div>
    <br>
  </div>
  
  <div class="site-header">
    <div [hidden]="headerEditorEnabled">
      <span [innerHTML]="currentPage.pageName">    </span>
      <span *ngIf="canEditOrDelete" (click)="enableHeaderEditor()" class="glyphicon glyphicon-pencil"></span>
    </div>
    <div *ngIf="headerEditorEnabled">
      <input type="text" id="PageName" name="PageName" [(ngModel)]="PageName" ng-show="headerEditorEnabled" value="{{currentPage.pageName}}">
      <span *ngIf="canEditOrDelete" (click)="editHeader(PageName)">Save</span>
      or
      <span *ngIf="canEditOrDelete" (click)="disableHeaderEditor()">Cancel</span>.
    </div>
  </div>

  <div class="site-content">
    <div [hidden]="editorEnabled">
      <span [innerHTML]="currentPage.content">    </span>
      <span *ngIf="canEditOrDelete" (click)="enableEditor()" class="glyphicon glyphicon-pencil"></span>
    </div>
    <div *ngIf="editorEnabled">
      <input type="text" id="content" name="content" [(ngModel)]="content" ng-show="editorEnabled" value="{{currentPage.content}}">
      <span *ngIf="canEditOrDelete" (click)="editContent(content)">Save</span>
      or
      <span *ngIf="canEditOrDelete" (click)="disableEditor()">Cancel</span>.
    </div>
  </div>

</div>
