.title {
  font-size: 28px;
}

.remove {
  top: 3px;
  color: red;
}

.form-control {
  width: 30%;
}

.site-content {
  margin-left: 30pc;
  margin-top: 30px;
}

.site-header {
  margin-left: 30pc;
  margin-top: -40px;
}

.pages-list {
  margin-bottom: 7px;
  position: relative;
}
