.btn-danger {
  float: left;
}

.title {
  color: red;
  font-size: 20px;
}

.sites-list {
  position: relative;
  margin-left: 200px;
  margin-bottom: 20px;
}

.input-url {
  position: relative;
  top: 50px;
  right: 75px;
}

.form-control {
  position: absolute;
  width: 20%;
  top: 50px;
}

.creation-date {
  font-size: 12px;
  color: grey;
}

.home-navigation {
  right: 140px;
  position: relative;
  top: 170px;
}

.remove {
  float: right;
  margin-right: 600px;
  color: red;
}