<navbar></navbar>
<div class="container">
  <div class="page-header">
    <h1 class="title">Sites</h1>
  </div>
  <div class="input-url">
    <div class="form-group">
      <form #f="ngForm" (ngSubmit)="f.form.valid && saveSite(siteName)">
        <div class="form-group">
          <button class="btn btn-danger">Create</button>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !siteName.valid }">
          <input type="text" id="siteName" class="form-control" name="siteName" [(ngModel)]="siteName" size="30" placeholder="Insert your site name here" required />
        </div>
      </form>
    </div>
  </div>
  <div class="home-navigation">
    <div style="margin-bottom: 12px;" (click)="ngOnInit()">
      My sites in niSites.ro
    </div>
    <div (click)="getRemovedSites()">
      Deleted sites
    </div>
    <div style="margin-top: 12px; margin-left: 68px;" (click)="getSites()">
      All sites in niSites.ro
    </div>
  </div>

  <div class="sites-list" *ngFor="let site of sites">
    <a (click)="goToSitePages(site.id)">{{site.siteName}}</a>
    <div *ngIf="!site.deleted && canBeDeleted" class="glyphicon glyphicon-remove remove" (click)="removeSite(site.id)"></div>
    <br>

    {{site.url}} <div> <span class="creation-date">Created at: {{site.creationDate | date: 'dd/MM/yyyy HH:mm:s'}}</span></div>

  </div>

</div>