<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle">
            <span class="glyphicon glyphicon-user"></span>
            <strong>{{currentUser.name}}</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">Log Out</a> 
        </li>
      </ul>
    </div>
  </div>
</div>